/* review-list.component.css */
.review-list {
    margin-top: 20px;
    display: flex;
    -ms-flex-align: center;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    margin-left: 15%;
  }
  .review-heading{
    margin-top: 50px;
  }
  .add-review-button {
    position: absolute;
    right: 50px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .rating {
    display: inline-block;
    font-size: 24px; /* Mida de les estrelles */
    position: absolute;
    left: 400px;
  }
  .name-rating-container {
    display: flex;
    align-items: center;
  }
  .btn {
    border: none;
    cursor: pointer;
  }
  .btn-like{
    margin-left: 0px;
    right: 10px;
    background: transparent;
  }
  .name-rating-container p {
    margin-right: 10px; /* Ajusta el espai entre el nom i la calificació */
  }
  .rating span {
    margin-right: 3px; /* Ajusta el espacio entre las estrellas */
  }

  .rating span:before {
    content: "\2605"; /* Codi Unicode per una estrella solida */
    color: #ddd; /* Color de les estrelles desactivades */
  }

  .rating span.active:before {
    color: orange; /* Color de les estrelles activades */
  }

  .review {

    background-color: white;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .reviewer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .author {
    font-weight: bold;
    font-size: 25px;
  }
  .likes {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #777;
  }
  
  .rating {
    font-size: 20px;
    color: #777;
  }
  
  .comment {
    font-size: 20px;
  }
  