<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La nostra Web de Videojocs</title>
</head>

<body>
    <header>
        <div class="header-icons">
            <img class="logo" src="../assets/FoxLogo.png" alt="Logo" width="100" height="100">
            <h1>GameFox Finder</h1> 
            <div class="login-class">
                <div class="login" *ngIf="!isLogged()" routerLink="/login">Login</div>
                <div class="login" *ngIf="!isLogged()" routerLink="/register">Register</div>
                <div class="login" *ngIf="isLogged()" (click)="logout()">Logout</div>
            </div> 
        </div>
    </header>

    <!-- Resta contingut pàgina principal -->

</body>
</html>
<br/>
<div>
    <router-outlet></router-outlet>
    <router-outlet name="details"></router-outlet>
</div>

<div class="body-component">
    <div *ngIf="!showDetails">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="showDetails">
        <app-game-details></app-game-details>
      <router-outlet name="details"></router-outlet>
    </div>
</div>
  




