.star-rating {
  display: flex;
  align-items: center;
}

.star-yellow {
  font-size: 24px;
  cursor: pointer;
  margin-right: 5px;
}

.star-yellow.selected {
  color: orange; /* Change the color to orange when the star is active */
}
  
  .mat-dialog-container {
    max-width: 10000px; /* Adjust as needed for the width */
    width: 10000px;
    max-height: 600px; /* Adjust as needed for the height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Rounded comment input */
  .rounded-comment {
    border-radius: 10px; /* Adjust as needed for the desired roundness */
    padding: 1rem; /* Adjust as needed */
    font-size: 18px; /* Adjust as needed */
    width: 90%;
  }

  .rating-input {
    display: flex;
  }

  .rating-input span {
    font-size: 24px;
    cursor: pointer;
    margin-right: 5px;
  }

  .rating-input span.active {
    color: orange;
  }
  /* Style for the Cancel button */
  .mat-button-cancel {
    font-size: 20px; /* Adjust as needed for the button text size */
    border-radius: 10px; /* Adjust as needed for the desired roundness */
    padding: 0.5rem 1.5rem; /* Adjust as needed for button size */
    margin-left: 10px; /* Add spacing between buttons */
    background-color: red; /* Change the background color */
    color: white; /* Change the text color */
  }
  
  /* Style for the Submit button */
  .mat-button-save {
    font-size: 20px; /* Adjust as needed for the button text size */
    border-radius: 10px; /* Adjust as needed for the desired roundness */
    padding: 0.5rem 1.5rem; /* Adjust as needed for button size */
    margin-left: 10px; /* Add spacing between buttons */
    background-color: green;
    color: white;
  }
  /* Style for the buttons */
.dialog-actions {
    display: flex;
    justify-content: flex-end; /* Place buttons on the right */
  }