<table>
  <tr *ngFor="let game of games" (click)="navigateToGameDetails(game.id)" [routerLink]="['/game-details', game.id]">
      <td>
        <div class="content">
          <div class="image-container">
            <img *ngIf="game.img" [src]="game.img" alt="Imagen del juego">
          </div>
          <div class="text-container">
            <h2>Nom del Joc: {{game.name}}</h2>
            <p>Categoria/es del Joc: {{ game.genre.join(', ') }}</p>
            <p>{{game.description}}</p>
          </div>
        </div>
      </td>
    </tr>
</table>
  